<link rel="stylesheet" href="/css/user_profile.css">
<div class="user-profile">
    <div>
        <% if(user.avatar !== undefined){%>

            <img class="user-profile__image" src="<%= user.avatar %>" alt="<%= user.name %>" width="100" class="profile-image">
            <%}else{%>
                <img class="user-profile__image" src="/images/user.png" alt="">
                <%}%>

    </div>

    <% if(user.id == profile_user.id){%>
        <!-- if user matches then form -->
        <form class="user-profile__form" action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
            <input class="user-profile__form__input" type="text" name="name" placeholder="Your name" value="<%= profile_user.name%>" required />
            <input class="user-profile__form__input " type="email" name="email" placeholder="Your Email" value="<%= profile_user.email%>" required/>
            <input class="user-profile__form__input user-profile__form__fileUpload" type="file" name="avatar" placeholder="Profile Picture">
            <input class="user-profile__form__input user-profile__form__submit" type="submit" name="submit" value="Update" />

        </form>
        <%}else{%>
            <!-- else only show the profile info -->
            <p class="user-profile__profile">
                <%= profile_user.name%>
            </p>
            <p class="user-profile__profile">
                <%=profile_user.email%>
            </p>
            <%}%>



</div>



<script src="/js/user_profile.js"></script>